.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8125rem 2rem;
    border: 1px solid #000;
    border-radius: 1rem;
    background-color: #F4CE14;
    color: #000;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 3px 8px 14px 2px rgba(0,0,0,0.30);
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.button:hover {
    background-color: #495E57;
    color: #fff;
}

.button:active {
    background-color: #495E57;
    color: #fff;
    box-shadow: inset 3px 8px 14px 2px rgba(0,0,0,0.30);
}

.button:disabled {
    background-color: #EE9972;
    color: #000;
}


